<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :full_name, class: "required-field" %><br />
    <%= f.text_field :full_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :user_name, class: "required-field" %><br />
    <%= f.text_field :user_name %>
  </div>

  <div class="field">
    <%= f.label :phone_number, class: "required-field" %><br />
    <%= f.text_field :phone_number %>
  </div>
  <div class="field">
    <%= f.label :email, class: "required-field" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :date_of_birth, class: "required-field" %><br />
    <div class="date-select">
      <%= f.date_select :date_of_birth, start_year: 1960, end_year: Date.today.year %>
    </div>
  </div>

  <div class="field">
    <%= f.label :profession, class: "required-field" %><br />
    <%= f.text_field :profession %>
  </div>

  <div class="field">
    <%= f.label :experience_years, class: "required-field" %><br />
    <%= f.number_field :experience_years %>
  </div>

  <div class="field">
    <%= f.label :address, class: "required-field" %><br />
    <%= f.text_area :address %>
  </div>

  <div class="field">
    <%= f.label :district, class: "required-field" %><br />
    <%= f.text_field :district %>
  </div>

  <div class="field">
    <%= f.label :pin_code, class: "required-field" %><br />
    <%= f.text_field :pin_code %>
  </div>

  <div class="field">
    <%= f.label :bio %><br />
    <%= f.text_area :bio %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <i>(leave blank if you don't want to change it)</i>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :current_password, class: "required-field" %><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
    <i>(we need your current password to confirm your changes)</i>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<div class="cancel-account-section">
    <%= button_to "Cancel my account", registration_path(resource_name),
                  data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" },
                  method: :delete,
                  class: 'cancel-button' %>
</div>
