<h3> <%= @discussion.title %></h3>
<p class="discussion-body"><%= @discussion.body %></p>
<p class="discussion-meta">
  <i class="fas fa-user"></i> Posted by: <%= @discussion.user.full_name %> &nbsp; &nbsp;
  <% if @discussion.updated_at.present? && @discussion.updated_at > @discussion.created_at %>
    <i class="fas fa-clock"></i> Updated <%= time_ago_in_words(@discussion.updated_at) %> ago
  <% else %>
    <i class="fas fa-clock"></i> Created <%= time_ago_in_words(@discussion.created_at) %> ago
  <% end %>
</p>

<div class="discussion-actions">
  <% if policy(@discussion).update? %>
    <%= link_to edit_discussion_path(@discussion), class: 'btn btn-secondary btn-sm' do %>
      <i class="fas fa-edit"></i>
    <% end %>
  <% end %>

  <% if policy(@discussion).destroy? %>
    <%= link_to discussion_path(@discussion), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' do %>
      <i class="fas fa-trash-alt"></i>
    <% end %>
  <% end %>
</div>

<hr>
<br>

<% if @comments.present? %>
  <h5>Comments Posted</h5>

  <% @comments.each do |comment| %>
    <div class="comment">
      <p class="comment-body"><%= comment.body %></p>
      <p class="discussion-meta">
        <i class="fas fa-user"></i> Posted by: <%= comment.user.full_name %> &nbsp; &nbsp;
        <% if comment.updated_at.present? && comment.updated_at > comment.created_at %>
          <i class="fas fa-clock"></i> Updated <%= time_ago_in_words(comment.updated_at) %> ago
        <% else %>
          <i class="fas fa-clock"></i> Created <%= time_ago_in_words(comment.created_at) %> ago
        <% end %>
      </p>

      <div class="comment-actions">
        <% if policy(comment).update? %>
            <%= link_to edit_discussion_comment_path(@discussion, comment), class: 'btn btn-secondary btn-sm' do %>
              <i class="fas fa-edit"></i>
            <% end %>
        <% end %>

        <% if policy(comment).destroy? %>
          <%= link_to discussion_comment_path(@discussion, comment), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
<br>
<h5><i class="fas fa-pencil-alt"></i> Post a New Comment</h5>

<%= form_with(model: [@discussion, @comment], local: true) do |form| %>
  <div class="form-group">
    <%= form.text_area :body, rows: 3, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.submit 'Post Comment', class: 'btn btn-primary' %>
  </div>
<% end %>

<div class="back-link">
  <%= link_to "<i class='fas fa-arrow-left'></i> Back to discussions".html_safe, discussions_path, class: 'btn btn-secondary' %>
</div>
