<div class="tasks-container">
  <div class="task-section">
    <h5>Tasks Created by You</h5>
    <% if @created_tasks.any? %>
      <div class="task-cards">
        <% @created_tasks.each do |task| %>
          <%= link_to task_path(task), class: "task-card-link" do %>
            <div class="task-card">
              <h3><%= task.title %></h3>
              <p class="user-detail" title="Status"><i class="fas fa-clipboard-list"></i> <%= task.status.humanize %></p>
              <p class="user-detail" title="Priority"><i class="fas fa-flag"></i> <%= task.priority.humanize %></p>
              <p class="user-detail" title="Due Date"><i class="fas fa-calendar-check"></i> <%= format_datetime(task.due_date) %></p>
              <p class="user-detail" title="Assigned To"><i class="fas fa-user-tag"></i> <%= task.assignee.full_name %></p>
            </div>
          <% end %>
        <% end %>
      </div>
    <% else %>
      <p>No tasks found</p>
    <% end %>
  </div>

  <div class="task-section">
    <h5>Tasks Assigned to You</h5>
    <% if @assigned_tasks.any? %>
      <div class="task-cards">
        <% @assigned_tasks.each do |task| %>
          <%= link_to task_path(task), class: "task-card-link" do %>
            <div class="task-card">
              <h3><%= task.title %></h3>
              <p class="user-detail" title="Status"><i class="fas fa-clipboard-list"></i> <%= task.status.humanize %></p>
              <p class="user-detail" title="Priority"><i class="fas fa-flag"></i> <%= task.priority.humanize %></p>
              <p class="user-detail" title="Due Date"><i class="fas fa-calendar-check"></i> <%= format_datetime(task.due_date) %></p>
              <p class="user-detail" title="Created By"><i class="fas fa-user"></i> <%= task.creator.full_name %></p>
            </div>
          <% end %>
        <% end %>
      </div>
    <% else %>
      <p>No tasks found</p>
    <% end %>
  </div>
</div>
