<div class="user-details">
  <h4><i class="fas fa-tasks"></i> <%= @task.title %></h4>

  <div class="detail-item">
    <i class="fas fa-info-circle"></i> <strong>Description:</strong> <span><%= @task.description %></span>
  </div>

  <div class="detail-item">
    <i class="fas fa-clipboard-list"></i> <strong>Status:</strong> <span class="status-<%= @task.status %>"><%= @task.status.humanize %></span>
  </div>

  <div class="detail-item">
    <i class="fas fa-user"></i> <strong>Created by:</strong> <span><%= link_to @task.creator.full_name, user_path(@task.creator), class: 'user-link' %></span>
  </div>

  <div class="detail-item">
    <i class="fas fa-user-tag"></i> <strong>Assigned to:</strong> <span><%= link_to @task.assignee.full_name, user_path(@task.assignee), class: 'user-link' %></span>
  </div>

  <div class="detail-item">
    <i class="fas fa-calendar-alt"></i> <strong>Created at:</strong> <span><%= format_datetime(@task.created_at) %></span>
  </div>

  <div class="detail-item">
    <i class="fas fa-flag"></i> <strong>Priority:</strong> <span><%= @task.priority %></span>
  </div>

  <div class="detail-item">
    <i class="fas fa-calendar-check"></i> <strong>Due date:</strong> <span><%= format_datetime(@task.due_date) %></span>
  </div>

  <% if @task.status == 'completed' %>
    <div class="detail-item">
      <i class="fas fa-check-circle"></i> <strong>Completed at:</strong> <span><%= format_datetime(@task.completion_date) %></span>
    </div>

    <% if @task.rating.present? %>
      <div class="detail-item">
        <i class="fas fa-star"></i> <strong>Rating:</strong> <span><% @task.rating.rating.times { %> <i class="fas fa-star"></i><% } %><%= @task.rating.rating %>/5</span>

        <% if @task.rating.comment.present? %>
          <div class="detail-item">
            <i class="fas fa-comment"></i> <strong>Comment:</strong> <span><%= @task.rating.comment %></span>
          </div>
        <% end %>
      </div>
    <% else %>
      <%= link_to 'Rate Task', new_task_rating_path(@task), class: 'btn btn-success' %>
    <% end %>
  <% end %>

  <div class="task-actions">
    <% if policy(@task).update_status? %>
      <% if policy(@task).permitted_statuses.include?('accepted') && @task.status == 'viewed' %>
        <%= button_to 'Accept', update_status_task_path(@task, task: { status: 'accepted' }), method: :patch, class: 'btn task-btn btn-outline-success' %>
      <% end %>

      <% if policy(@task).permitted_statuses.include?('cancelled') && @task.status == 'viewed' %>
        <%= button_to 'Cancel', update_status_task_path(@task, task: { status: 'cancelled' }), method: :patch, class: 'btn task-btn btn-outline-dark' %>
      <% end %>

      <% if policy(@task).permitted_statuses.include?('in_progress') && @task.status == 'accepted' %>
        <%= button_to 'Start Task', update_status_task_path(@task, task: { status: 'in_progress' }), method: :patch, class: 'btn task-btn btn-outline-success' %>
      <% end %>

      <% if policy(@task).permitted_statuses.include?('completed') && @task.status == 'in_progress' %>
        <%= button_to 'Complete', update_status_task_path(@task, task: { status: 'completed' }), method: :patch, class: 'btn task-btn btn-outline-dark' %>
      <% end %>
    <% end %>
  </div>

  <div class="nav-actions">
    <%= link_to 'Edit', edit_task_path(@task), class: 'btn btn-primary' %>
    <%= link_to 'Back to Tasks', tasks_path, class: 'btn btn-secondary' %>
    <%= link_to 'Delete', task_path(@task), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
  </div>
</div>

