<div class="user-details">
  <h4><%= @user.full_name %></h4>
  <p><strong>Email:</strong> <%= @user.email %></p>
  <p><strong>Profession:</strong> <%= @user.profession %></p>
  <p><strong>Experience Years:</strong> <%= @user.experience_years %></p>
  <p><strong>Phone Number:</strong> <%= @user.phone_number %></p>
  <p><strong>Date of Birth:</strong> <%= @user.date_of_birth %></p>
  <p><strong>Address:</strong> <%= @user.address %></p>
  <p><strong>District:</strong> <%= @user.district %></p>
  <p><strong>Pin Code:</strong> <%= @user.pin_code %></p>
  <p><strong>Bio:</strong> <%= @user.bio %></p>
</div>
